<div class="row">
  <div class="columns">
    <%= link_to icon("plus-circle", "New Scheme"), new_scheme_path %>
    <ul>
      <% current_user.scheme_participants.includes(:scheme).each do |dp| %>
        <% d = dp.scheme %>
        <li><%= link_to d.title, d %> <small><%= dp.role %></small></li>
      <% end %>
    </ul>
  </div>
</div>