<div class="row">
  <div class="columns">
    <%= link_to "New Discussion", new_discussion_path %>
    <ul>
      <% current_user.discussion_participants.includes(:discussion).each do |dp| %>
        <% d = dp.discussion %>
        <li><%= link_to d.title, d %> <small><%= dp.role %></small></li>
      <% end %>
    </ul>
  </div>
</div>