<%= form_for [@scheme, Comment.new], html: { data: { guard_validate: '' } } do |f| %>
  <div class="row">
    <div class="columns">
      <%= f.label :message, "Add New Comment" %>
      <%= f.text_area :message, data: { guard_required: '' } %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.submit "Post Comment", class: "button no-margin" %>
    </div>
  </div>
<% end %>
