<%= form_for [@scheme, @comment], remote: true, html: { data: { guard_validate: '' } } do |f| %>
  <div>
    <%#= f.label :message, "Add New Comment" %>
    <%= f.text_area :message, data: { guard_required: true } %>
  </div>

  <div>
    <%= f.submit "Post Comment", class: "button no-margin" %>
    <%= link_to "Cancel", "javascript:void(0);", class: "button secondary no-margin cancel" %>
  </div>
<% end %>
