<%= form_for [@discussion, @comment] do |f| %>
  <div>
    <%= f.label :message, "Add New Comment" %>
    <%= f.text_area :message %>
  </div>

  <div>
    <%= f.submit "Post Comment", class: "button" %>
  </div>
<% end %>
