.poll-result {
  background: #eee;
  padding: 0.5rem;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  > span {
    font-size: 1.2rem;
    position: relative;
    z-index: 95;
  }

  > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #2d7;
  }
}

.poll-list {
  list-style-type: none;
  margin-left: 0;
  .poll-li {
    margin-bottom: 0.5rem;
    &:last-child { margin-bottom: 0; }
    .poll-item {
      font-size: 1.25rem;
      padding-bottom: 0.25rem;
    }
  }
}