<% nickname = current_nicknames.detect { |n| n.namee_id == @user.id } %>
<div class="profile">
  <h1><%= user_display_name @user %></h1>
  <div class="menu-centered">
    <ul class="menu">
      <% if nickname %>
        <li><%= link_to icon("trash", "Remove Nickname"), "javscript:void(0);" %></li>
        <li><%= link_to icon("pencil", "Edit Nickname"), "javscript:void(0);" %></li>
      <% else %>
        <li><%= link_to icon("plus-circle", "Add Nickname"), "javascript:void(0);" %></li>
      <% end %>
    </ul>
  </div>
</div>