<div class="row">
  <div class="columns">
    <div class="errors">
      <h4><%= message %></h4>
      <ul style="margin-bottom: 0;">
        <% errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
