.toolbox { display: none; }

a.disabled { opacity: 0.5; }

.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.no-radius { border-radius: 0 !important; }
.no-wrap { whitespace: nowrap !important; }

.primary-text { color: $primary-color !important; }
.alert-text { color: $alert-color !important; }
.success-text { color: $success-color !important; }
.warning-text { color: $warning-color !important; }
.secondary-text { color: $secondary-color !important; }

.va-middle { vertical-align: middle !important; }
.va-bottom { vertical-align: bottom !important; }
.va-top    { vertical-align: top !important; }

div.empty {
  padding: 4rem 2rem;
  background: $white;
  color: $secondary-color;
  text-align: center;
  border-radius: $global-radius;
  margin-bottom: 1rem;
  :last-child { margin-bottom: 0; }
}

.flash {
  position: relative;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: $secondary-color;
  margin: 0;
  border-radius: $global-radius;
  border: 1px solid $secondary-color;
  border-bottom-width: 2px;
  background: scale-color($secondary-color, $lightness: $callout-background-fade);
  &.alert {
    border-color: $alert-color;
    color: $alert-color;
    background: scale-color($alert-color, $lightness: $callout-background-fade);
  }
  &.notice {
    border-color: $success-color;
    color: $success-color;
    background: scale-color($success-color, $lightness: $callout-background-fade);
  }
  .message { margin-bottom: 0; padding-right: 2rem; }
  .close-button { top: 0.25rem; }
}

.errors {
  background: $alert-color;
  color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  ul { margin-bottom: 0; }
}


.errors-ul {
  color: $alert-color;
  margin-bottom: 0.5rem;
  font-size: $small-font-size;
}

.parsley-errors-list { display: none; }
.parsley-errors-list.filled {
  display: block;
  margin: -0.75rem 0 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: $alert-color;
  list-style: none;
}
.no-margin.is-invalid-input + .parsley-errors-list.filled,
.no-margin-errors-container .parsley-errors-list.filled { margin-top: 0; margin-bottom: 0; }

.form {
  margin: 1rem auto;
  max-width: 30rem;
  .form-header {
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    border-radius: $global-radius $global-radius 0 0;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    position: relative;
    background: $primary-color;
    color: $white;
    margin: 0 0.5rem;
    z-index: 89;
    * { display: inline-block; }
    :first-child { font-size: 2rem; }
    :last-child { margin-bottom: 0; }
  }
  .form-container {
    background: #fff;
    border-radius: $global-radius;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    padding: 2rem;
    position: relative;
    z-index: 90;
  }

  .form-field {
    label { float: left; }
    input[type='checkbox'] + label,
    input[type='radio'] + label { float: none; }
    .form-tip {
      float: right;
      font-size: $form-label-font-size;
      color: $secondary-color;
      line-height: $form-label-line-height;
    }
  }
}

.field_with_errors {
  [type="text"], [type="password"], [type="date"], [type="datetime"],
  [type="datetime-local"], [type="month"], [type="week"], [type="email"],
  [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"],
  [type="color"], textarea {
    border-color: $alert-color;
    background: scale-color($alert-color, $lightness: $callout-background-fade);
  }
  label { color: $alert-color; }
}
