.toolbox { display: none; }

a.disabled { opacity: 0.5; }

.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.no-radius { border-radius: 0 !important; }

.alert-text { color: $alert-color !important; }
.success-text { color: $success-color !important; }
.warning-text { color: $warning-color !important; }
.secondary-text { color: $secondary-color !important; }

.va-middle { vertical-align: middle !important; }
.va-bottom { vertical-align: bottom !important; }
.va-top    { vertical-align: top !important; }

.flash {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: #fff;
  margin: 1rem 0 0;
  background: $secondary-color;
  &.alert { background: $alert-color; }
  &.notice { background: $success-color; }
  .message { margin-bottom: 0; padding-right: 2rem; }
  .column, .columns { position: relative; }
  .close-button { top: -0.5rem; }
}

.errors {
  background: $alert-color;
  color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  ul { margin-bottom: 0; }
}


.errors-ul {
  color: $alert-color;
  margin-bottom: 0.5rem;
  font-size: $small-font-size;
}

.parsley-errors-list { display: none; }
.parsley-errors-list.filled {
  display: block;
  margin: -0.75rem 0 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: $alert-color;
  list-style: none;
}
.no-margin.is-invalid-input + .parsley-errors-list.filled,
.no-margin-errors-container .parsley-errors-list.filled { margin-top: 0; margin-bottom: 0; }

.form {
  background: #fff;
  margin: 1rem auto;
  max-width: 30rem;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  border-radius: $global-radius;
  overflow: hidden;
  .form-header {
    padding: 0.5rem 2rem;
    background: $secondary-color;
    color: $white;
    :first-child { font-size: 2rem; }
    :last-child { margin-bottom: 0; }
  }
  .form-container { padding: 2rem; }

  label { font-weight: 300; }
}