<% flash.each do |f| %>
  <div class="flash <%= f.first %>" data-closable>
    <div class="row">
      <div class="columns">
        <%= close_button %>
        <p class="message"><%= f.last %></p>
      </div>
    </div>
  </div>
<% end %>