<% flash.each do |f| %>
  <div class="row">
    <div class="columns">
      <div class="flash <%= f.first %>" data-closable>
        <%= close_button %>
        <%= flash_message f %>
      </div>
    </div>
  </div>
<% end %>